<config>

	<parent-provides>
		<service name="IRQ"/>
		<service name="IO_MEM"/>
		<service name="ROM"/>
		<service name="PD"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="LOG"/>
		<service name="Timer"/>
	</parent-provides>

	<default caps="40"/>

	<service name="Framebuffer">
		<default-policy> <child name="virtio_gpu"/> </default-policy> </service>

	<service name="Input">
		<default-policy> <child name="input_filter"/> </default-policy> </service>

	<start name="virt_platform_drv" caps="60">
		<resource name="RAM" quantum="2M"/>
		<provides> <service name="ROM"/> </provides>
		<route>
			<service name="CPU">    <parent/> </service>
			<service name="IO_MEM"> <parent/> </service>
			<service name="LOG">    <parent/> </service>
			<service name="PD">     <parent/> </service>
			<service name="ROM">    <parent/> </service>
		</route>
	</start>

	<start name="virtio_mmio" caps="60">
		<resource name="RAM" quantum="2M"/>
		<provides> <service name="VirtIO"/> </provides>
		<route>
			<service name="ROM" label="platform.dtb">
				<child name="virt_platform_drv" />
			</service>
			<service name="CPU">    <parent/> </service>
			<service name="IO_MEM"> <parent/> </service>
			<service name="IRQ">    <parent/> </service>
			<service name="LOG">    <parent/> </service>
			<service name="PD">     <parent/> </service>
			<service name="ROM">    <parent/> </service>
		</route>
		<config>
			<policy label_prefix="virtio_gpu">          <device type="gpu" />   </policy>
			<policy label_prefix="virtio_keyboard_drv"> <device type="input" /> </policy>
			<policy label_prefix="virtio_mouse_drv">    <device type="input" /> </policy>
		</config>
	</start>

	<start name="virtio_gpu" caps="120">
		<resource name="RAM" quantum="20M"/>
		<provides><service name="Framebuffer"/></provides>
		<configfile name="fb_drv.config"/>
		<route>
			<service name="ROM" label="fb_drv.config"> <parent label="fb_drv.config"/> </service>
			<service name="VirtIO"> <child name="virtio_mmio"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="virtio_keyboard_drv" caps="70">
		<binary name="virtio_input_drv"/>
		<resource name="RAM" quantum="1M"/>
		<provides><service name="Input"/></provides>
		<config match_product="keyboard"/>
		<route>
			<service name="VirtIO"> <child name="virtio_mmio"/> </service>
			<service name="CPU">    <parent/> </service>
			<service name="PD">     <parent/> </service>
			<service name="LOG">    <parent/> </service>
			<service name="ROM">    <parent/> </service>
		</route>
	</start>

	<start name="virtio_mouse_drv" caps="70">
		<binary name="virtio_input_drv"/>
		<resource name="RAM" quantum="1M"/>
		<provides><service name="Input"/></provides>
		<config match_product="mouse"/>
		<route>
			<service name="VirtIO"> <child name="virtio_mmio"/> </service>
			<service name="CPU">    <parent/> </service>
			<service name="PD">     <parent/> </service>
			<service name="LOG">    <parent/> </service>
			<service name="ROM">    <parent/> </service>
		</route>
	</start>

	<start name="input_filter" caps="80">
		<resource name="RAM" quantum="1280K"/>
		<provides> <service name="Input"/> </provides>
		<route>
			<service name="ROM" label="config"> <parent label="input_filter.config"/> </service>
			<service name="Input" label="keyboard"> <child name="virtio_keyboard_drv"/> </service>
			<service name="Input" label="mouse"> <child name="virtio_mouse_drv"/> </service>
			<service name="ROM">   <parent/> </service>
			<service name="PD">    <parent/> </service>
			<service name="CPU">   <parent/> </service>
			<service name="LOG">   <parent/> </service>
			<service name="Timer"> <parent/> </service>
		</route>
	</start>

</config>
